<a href="https://colab.research.google.com/github/eejyoo/2021winter_data/blob/main/0_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

데이터 분석은 파이썬 언어를 기반으로 합니다.
기본적인 파이썬에 데이터 분석을 위한 라이브러리를 추가, 활용합니다.

#1.기본 입출력

(1) 출력
 - print() 안에 숫자 또는 '문자'를 넣어 출력함

In [ ]:
print(1)

In [ ]:
print(1+2)

In [ ]:
print('python')

In [ ]:
print('python','좋아요')

(2) 입력
 - input() 함수를 사용함
 - () 안에 입력받기 전의 설명문을 입력할 수도 있음
 - 입력받으면 변수에 저장해서 활용함
 - 입력받은 것은 str 데이터형임

In [ ]:
a = input()
print(a)

In [ ]:
a = input('정수를 입력하세요: ')
print(a+2)

In [ ]:
print(type(a))

In [ ]:
a = int(input('정수를 입력하세요: '))
print(a+2)

#2.리스트
- 숫자나 문자의 모음을 저장할 수 있는 자료구조

(1) 리스트의 생성
 - **리스트명[요소1, 요소2, 요소3]** 과 같은 형식으로 생성

In [ ]:
a = []
b = [1, 2, 3]
c = ['대전', '용산', '고등학교']

(2) 인덱싱 & 슬라이싱
- 인덱스는 0부터 시작함
- 인덱스 -1은 마지막 요소를 의미함
- 슬라이싱은 구하고자 하는 인덱스를 **[시작인덱스:마지막인덱스+1]** 로 표현함
- 슬라이싱 인덱스를 생략하면 기본으로 처음인덱스와 끝인덱스가 적용됨

In [ ]:
b[0] + b[2]

In [ ]:
c[-1]

In [ ]:
a = [1,2,3,4,5]
a[0:2]

In [ ]:
a[:]

In [ ]:
a[:3]

In [ ]:
a[4:]

(3) 수정과 삭제
- 수정은 인덱스를 직접 지정해서 실행함
- 삭제는 del 함수를 사용함

In [ ]:
a[2] = 10
a

In [ ]:
del a[2]
a

In [ ]:
del a[2:]
a

(4) 리스트 관련 함수들
- append : 추가
- sort : 오름차순 정렬
- reverse : 뒤집기
- index : 위치(index) 반환
- insert : 지정된 위치에 삽입
- remove : 삭제
- pop : 마지막 요소 반환하고 리스트에서 삭제
- count : 개수 세기

#**<< 연습 >>**

#3. if문


```
if 조건문1:
    수행할 문장1
    수행할 문장2
elif 조건문2:
    수행할 문장1
    수행할 문장2
else:
    수행할 문장
```

In [ ]:
card = True

if card:
  print('버스를 탄다.')
else:
  print('그냥 걷는다.')

In [ ]:
grade = [1,2,3]
if 4 in grade:
  print('초등학교냐? 대학교냐?')
else:
  print('중학교나? 고등학교냐?')

In [ ]:
if (4 in grade) and (6 not in grade):
  print('초등학교가 확실!')
else:
  print('아몰랑!')

In [ ]:
score = int(input('점수 좀 입력해봐봐 : '))
print('success' if score>=70 else 'failure')

#4.for문


```
for 변수 in 리스트(또는 튜플, 문자열):
    수행할 문장1
    수행할 문장2
    ...
```

In [ ]:
a = ['one', 'two', 'three']
for i in a:
  print(i)

In [ ]:
sum = 0
for i in range(1, 11):
  sum = sum + i
print(sum)

In [ ]:
a = [1, 2, 3, 4]
result = []

for i in a:
  result.append(i*3)

result

In [ ]:
a = [1, 2, 3, 4]
result = [i*3 for i in a]

result

In [ ]:
a = [1, 2, 3, 4]
result = [i*3 for i in a if i%2==0]

result