<a href="https://colab.research.google.com/github/eejyoo/2021winter_data/blob/main/1_Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.Numpy



*   파이썬의 고성능 과학 계산용 패키지
*   파이썬 list에 비해 빠르고 메모리 효율적

(1) 배열 생성


*   import 를 사용하여 라이브러리 추가
*   np 라는 별칭을 사용함
*   np.array 함수를 사용하여 배열 생성
*   numpy의 배열은 동일한 데이터 타입만 저장할 수 있음(list와 다른점)
*   C의 Array를 사용하여 배열을 생성(처리속도 빠름)

In [3]:
import numpy as np

In [ ]:
arr = np.array([1, 2, 3, 4])
arr

In [ ]:
arr[3]

(2) ndarray의 속성


*   dtype: 데이터타입
*   shape: 배열의 모양
*   ndim: 차원의 개수
*   size: 데이터의 개수

In [ ]:
type(arr)

In [ ]:
arr.dtype

In [ ]:
arr.shape

In [ ]:
arr.ndim

In [ ]:
arr.size

<Try!> 그림과 같은 2차원 배열을 생성하고, 배열의 모양과 차원, 데이터의 개수를 출력하시오.

![제목 없음.png]()

In [ ]:
import numpy as np
arr2 = np.array([[1,2,3],[4,5,6]])
arr2

(3) reshape


*   배열 항목의 수가 같을 때 다른 차원으로 변형이 가능함.

In [ ]:
m = np.arange(8)
m

In [ ]:
m.shape

In [ ]:
m.size

In [ ]:
m.reshape(2,4)

In [ ]:
m.reshape(2,4).size

(4) 인덱싱과 슬라이싱


*   배열의 인덱스는 0부터 시작함.
*   배열의 인덱스를 활용하여 값을 찾아내거나 배열의 일부분을 가져올 수 있음.
*   boolean indexing: Boolean Mask를 이용하여 원하는 값을 추출하는 것.

In [ ]:
x = np.arange(7)
x

In [ ]:
x[3]

In [ ]:
print(x[1:3])

In [ ]:
print(x[x > 5])

In [ ]:
print(x[1:3])

In [ ]:
print(x[4:])

<Try!>
주어진 배열에서 y<3인 요소만 출력하시오.

In [ ]:
y = np.array(range(1, 9))
y

# 실습: 환자 데이터 분석
환자에게 신약을 투여한 후의 염증 수치를 기록한 데이터를 분석한다. 각 데이터는 콤마(,)로 분리되어 있고, 행은 각 환자이며 열은 연속한 날짜별 염증 수치를 기록하고 있다.

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [5]:
file = 
data = np.loadtxt(file, delimiter=',', dtype=np.int32)